.side-menu {
    padding: 10px;
    height: 90%;
    font-size: 18px;

    > li {
        padding: 5px 0px;

        > a {
            color: #212529;
            text-transform: uppercase;

            &.active {
                color: lighten(#212529, 35%);
                font-weight: bold;
            }

            &:hover {
                color: darken(white, 15%);
                text-decoration: none;
            }

            > img {
                margin: 0px 10px 3px;
            }

        }
    }
}

@include media-breakpoint-down(sm) {
    /*.logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .header-bar{
        padding-top: 40px;
        text-align:center;
    }*/
}

.main-menu {
    //border-bottom: 1px solid #ccc;
    font-weight: bold;
}

li.nav-item:last-child {
    border-bottom: 1px solid #ccc;
}

//MENU Dropdown

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */
nav {
    margin: 0;
    padding: 0;

}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 999;
    background-color: #550E5A;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background: #fafafa;
    z-index: 999;
}

/* Styling the links */
nav a {
    display: block;
    padding: 10px;
    color: #550E5A;
    font-size: 14px;
    text-decoration: none;
    background: #fafafa;
    text-align: center;
}


nav ul li ul li:hover {
    background-color: darker(#fafafa, 35%)
}

/* Background color change on Hover */
nav a:hover {
    background-color: darker(#fafafa, 35%);
    color: #2C5E1C !important;
    font-size: 14px;
    text-decoration: none;
}


/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
    display: none;
    position: fixed;
    /* has to be the same number as the "line-height" of "nav a" */
    //top: 45px;
    right: 10px;
    z-index: 999;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display: inherit;
    background-color: darker(#fafafa, 35%);
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/


nav ul ul ul li {
    position: relative;
    top: -50px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: -130px;
}


nav ul ul ul {
    /*position: relative;
    top: -50px;
    !* has to be the same number as the "width" of "nav ul ul li" *!
    left: -130px;*/
    right: 50px;
}

/* Change ' +' in order to change the Dropdown symbol */
//li > a:after { content:  ' +'; }
li > a:only-child:after {
    content: '';
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    nav a {
        text-align: right;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        //background-color: #254441;
        padding: 10px;
        color: #212529;
        font-size: 12px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        //background-color: #000000;
        transition: all 800ms ease;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 300px;
    }

    nav ul ul {
       // display: block;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 20px;
    }

    nav ul ul ul a {
        padding: 0 40px;
    }

    nav a:hover,
    nav ul ul ul a {
        //background-color: #000000;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 5px;
        color: #212529;
        font-size: 12px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        padding:5px;
        //background-color: #212121;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        //display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 300px;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

    }

}

@media all and (max-width: 330px) {

    nav ul li {
        display: block;
        width: 300px;
    }

}

.icon-down {
    display: inline-block;
    vertical-align: top;
}