.page-title {
    font-family: "Georgia-Bold";
    color: #005EAA;
    font-size: 40px;
}

.text-bold {
    font-family: "Georgia-Bold";
    font-weight: bold;
}

p.help-text {
    color: red;
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.content {
    img {
        width: 100%;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a {
    color: #212529;

    :hover {
        color: lighten(#212529, 35%);
    }
}

.dotted-space {
    letter-spacing: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.dotted-space {
    letter-spacing: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
@include media-breakpoint-down(sm) {
    .dotted-space {
        margin-left: 10%;
    }
}

@include media-breakpoint-down(xs) {
    .written-by{
        text-align: center;
    }
}

.image-preview {
    border-radius: 50%;
    width: 150px;
    text-align: center;

}

@include media-breakpoint-up(sm) {
    .image-preview {
        border-radius: 50%;
        width: 80px;
    }
}
.text-gray {
    color: #707070;
}

.green-bg {
    background-color: rgba(83, 14, 88, 0.25);
}

label.form-label {
    font-family: "Mada-bold";
    font-size: 20px;
    margin-top: 10px;

}

input.vip, textarea.vip {
    border-radius: 10px;
}